@model IEnumerable<U5_W3_P.Models.Ordini>

@{
    ViewBag.Title = "ListaOrdini";
}

<div class="container text-center mt-4">
    <h2 style="color: white;">Lista Ordini</h2>
    <form method="post" action="/Ordini/EditSelected">
        <div class="table-responsive">
            <table class="table table-bordered table-striped" style="background-color: #f2f2f2; margin-bottom: 25rem;">
                <thead style="background-color: #808080; color: black;">
                    <tr>
                        <th>Utente</th>
                        <th>Data Ordine</th>
                        <th>@Html.DisplayNameFor(model => model.First().Importo)</th>
                        <th>Evaso</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Clienti.Username)</td>
                            <td>@Html.DisplayFor(modelItem => item.DataOrdine)</td>
                            <td>@Html.DisplayFor(modelItem => item.Importo) €</td>
                            <td>
                                <input class="statoOrdine" data-id="@item.IdOrdine" type="checkbox" name="selectedOrders" value="@item.StatoOrdine" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('input[type="checkbox"]').click(function () {
                var ordineId = $(this).data("id");
                $.ajax({
                    url: '@Url.Action("AggiornaOrdine", "Admin")',
                    type: 'POST',
                    data: { id: ordineId },
                    success: function (result) {
                        console.log(result);
                        location.reload();
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
}