@model IEnumerable<U5_W3_P.Models.DettaglioOrdini>

@{
    ViewBag.Title = "RiepilogoOrdine";
}

<h2 class="text-center" style="color: white;">Riepilogo del tuo ordine</h2>

<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered table-striped" style="background-color: #f2f2f2;">
            <thead style="background-color: #808080; color: black;">
                <tr>
                    <th>Prodotto</th>
                    <th>Quantità</th>
                    <th>Prezzo</th>
                    <th>Azioni</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Prodotto.Nome)</td>
                        <td>@Html.DisplayFor(modelItem => item.Quantità)</td>
                        <td>@(item.Prodotto.Prezzo * Convert.ToDecimal(item.Quantità)) &euro;</td>
                        <td>
                            <button onclick="location.href='@Url.Action("EliminaOrdine", new { id = item.IdDettaglio })'" class="btn btn-danger" style="text-decoration:none; color: white;">
                                <i class="fas fa-x"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="text-center mt-5">
        <h4 class="mb-4 text-white">
            <i class="fas fa-coins fa-2x mr-2 text-white"></i>
            Prezzo totale: <span class="badge badge-success">@ViewBag.PrezzoTotale.ToString("C")</span>
        </h4>
    </div>

    <div class="text-center">
        @Html.ActionLink("Invia ordine", "InviaOrdine", "Users", null, new { @class = "btn btn-primary", @style = "margin-bottom: 7rem; padding: 12px 24px; font-size: 18px; border-radius: 8px; text-decoration: none; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);" })
    </div>
</div>
